@charset "UTF-8";

:root {
    --drop-shadow: 5px 5px 10px silver;

    --radius: 15px;
}





html, body{
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;

    margin: 0;
    padding: 0;

    background-color: #ffffff;

    font-family: 'Noto Sans JP', 'Montserrat' sans-serif;

    line-height: 1.7;
    
    font-size: 20px;
}

h1{
    display: inline-block;
    width: 60%;
    height: 3rem;
    margin: 0 15%;
    padding: 1.5% 5%;

    background-color: #003f30;

    border-radius: 0 0 var(--radius) var(--radius);
    filter: drop-shadow(var(--drop-shadow));

    font-size: 2rem;
    font-family: Noto Sans JP, sans-serif;
    font-weight: 700;
    color: #ffffff;
}

h1::after{
    content: "　 β ver.";
    font-family: MontSerrat, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
}

h1 a{
    color: #ffffff;
    text-decoration: none;
}

.container{
    display: inline-block;

    width: 50%;
    height: 5rem;
    margin: 2.5% 20%;
    padding: 1.5% 5%;

    border-radius: var(--radius);
    filter: drop-shadow(var(--drop-shadow));

    background-color: #f0f0f0;

    text-decoration: none;

    transform: scale(1);
    transition: all .25s;
}

.container:hover{
    transform: scale(1.02);
}

#current{
    border-radius: 0 var(--radius) var(--radius) var(--radius);
    margin-top: 8%;
}

#current::before{
    content: "Now!";

    display: block;
    width: 20%;
    height: 3.25rem;
    margin: 0;

    position: absolute;
    top: -3.25rem;
    left: 0;

    background-color: #003f30;
    border-radius: var(--radius) var(--radius) 0 0;
    filter: drop-shadow(var(--drop-shadow));

    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    line-height: 3.25rem;
}

.container h3{
    font-size: 1.35rem;
    font-weight: 700;
    font-family: Noto Sans JP, sans-serif;

    color: #000;
}

.container .lead{
    font-size: 1rem;
    font-weight: 500;
    font-family: Montserrat, Noto Sans JP, sans-serif;

    color: #000;
}

footer{
    width: 60%;
    height: 2rem;

    padding: 1.5% 5%;
    margin: 2.5% auto 2.5% auto;

    background-color: #003f30;
    border-radius: var(--radius);

    text-align: center;
    color: #ffffff;
    font-family: Montserrat, Noto Sans JP, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

@media screen and (max-width: 480px){
    :root {
        --drop-shadow: 2px 2px 4px silver;

        --radius: 7.5px;
    }





    html, body{
        font-size: 10px;
    }

    h1{
        height: 4rem;
        margin-bottom: 3%;
        
        filter: drop-shadow(var(--drop-shadow));
    }

    .container{
        filter: drop-shadow(var(--drop-shadow));
    }
    
    #current::before{
        width: 30%;

        filter: drop-shadow(var(--drop-shadow));
    }
}